{
  "extends": "standard",
  "rules": {
    "prefer-const": "error",
    "semi": ["error", "always"],
    "no-extra-semi": "error",
    "block-scoped-var": "error",
    "prefer-template": "warn",
    "no-unneeded-ternary": "warn",
    "no-use-before-define": [
      "error",
      "nofunc"
    ]
  }
}